.suggestion-card {
    -fx-background-color: #4d4d4d;
    -fx-pref-width: 300;
    -fx-pref-height: 200;
    -fx-padding: 15 15 15 15;
}

.suggestion-card-label {
    -fx-text-fill: #e6e6e6;
    -fx-font-size: 18;
    -fx-font-family: "Montserrat Semibold"
}

.scrollable-cont {
    -fx-padding: 15 0 0 0;
    -fx-background-color: #4d4d4d;
    -fx-hbar-policy: never;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .increment-button {
    -fx-background-color: transparent; /* Change the color of the increment button */
}

.scroll-pane .increment-arrow,
.scroll-pane .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent; /* Change the color of the decrement button */
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #323232; /* Change the color of the thumb */
}

.suggestion-card-text-container {
    -fx-background-color: #4d4d4d;
    -fx-pref-width: 270;
    -fx-max-width: 270;
}

.suggestion-card-text {
    -fx-pref-width: 270;
    -fx-text-fill: #e6e6e6;
}