.v_region {
    -fx-cursor: "V_RESIZE";
}

#top-left {
    -fx-cursor: "NW_RESIZE";
}

#top_right {
    -fx-cursor: "NE_RESIZE";
}

.h_region {
    -fx-cursor: "H_RESIZE";
}

#bottom-left {
    -fx-cursor: "SW_RESIZE";
}

#bottom-right {
    -fx-cursor: "SE_RESIZE";
}

/* Pop Up Elements */
.overlay {
    -fx-background-color: rgba(0, 0, 0, 0.7);
}

#popup {
    -fx-max-width: 460;
    -fx-background-color: #323232;
}

#popup-titlebar {
    -fx-padding: 12.5;
    -fx-pref-height: 70;
}

#popup-titlebar-label {
    -fx-text-fill: #e6e6e6;
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 30;
}

#popup-titlebar-exit {
    -fx-cursor: hand;
    -fx-background-color: none;
    -fx-text-fill: #a1a1a1;
    -fx-font-family: "Inter SemiBold";
    -fx-font-size: 20;
}
#popup-titlebar-exit:hover {
    -fx-text-fill: #e6e6e6;
}

#popup-contacts {
    -fx-background-color: #282828;
    -fx-pref-height: 50;
    -fx-padding: 12.5;
}

.popup-contacts-buttons {
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-background-color: none;
    -fx-background-size: 20;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-cursor: hand;
}

#popup-contacts-email {
    -fx-background-image: url('../icons/envelope.png');
}
#popup-contacts-email:hover {
    -fx-background-image: url('../icons/envelope-hover.png');
}

#popup-contacts-phone {
    -fx-background-image: url('../icons/phone.png');
}
#popup-contacts-phone:hover {
    -fx-background-image: url('../icons/phone-hover.png');
}

#popup-contacts-service {
    -fx-text-fill: #e6e6e6;
    -fx-font-family: "Montserrat";
    -fx-font-size: 11;
}

#faq-scroll {
    -fx-background-color: #323232;
    -fx-vbar-policy: always;
}
#popup-contacts-support {
    -fx-text-fill: #e6e6e6;
    -fx-font-family: "Montserrat";
    -fx-font-size: 10;
}
.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
}
.scroll-pane .scroll-bar:vertical .increment-button {
    -fx-background-color: transparent; /* Change the color of the increment button */
}
.scroll-pane .increment-arrow,
.scroll-pane .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}
.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}
.scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent; /* Change the color of the decrement button */
}
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #161616; /* Change the color of the thumb */
}

#scrollpane-content {
    -fx-background-color: #323232;
    -fx-padding: 12;
}

.faq-title {
    -fx-text-fill: #e6e6e6;
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 20;
}

.faq-info {
    -fx-text-fill: #e6e6e6;
    -fx-font-family: "Montserrat";
}